#cards {
  display: flex;
  flex-wrap: wrap; 
  /* 產生52張卡片後要追加設定 */
  width: 85%;
  /* 寬度跟header一致 */
  margin: 0 auto;
  /* 新增置中 */
}
.card {
  flex: 7% 1 1;
  /* 卡片佔比7% 佔剩餘空間分配0 空間不夠壓縮本身1 */
  height: 8vw;
  /* 一種單位 */
  border: 2px solid #e0e0e0;

  display: flex;
  /* 排版卡片內部 */
  flex-direction: column;
  /* 轉換主要軸線 */
  justify-content: space-around;
  margin: 2px;  
  /* 產生52張卡片後要追加設定 */
  box-sizing: border-box;
  /* 產生52張卡片後要追加設定 */
}
.card img {
  max-width: 30%;
  /* 縮小圖片 */
  align-self: center; 
  /* 圖片致中 */
}

/* 調整字體 */
.card p{
  margin: 3px;
  /* 調整預設寬度 */
  font-size: 10px;
  /* 調整字體大小 */
}

/* 調整下方字體旋轉 */
.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
  /* 把大圖縮到容器尺寸 */
}
/* 加入背後圖 */

.paired {
  background-color: #dae0e3;
}
/* 加入翻對的圖 */

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header .title img {
  max-height: 3em;
}

#header .title h2 {
  padding-left: .5em;
}
#header .score {
  margin: 0;
  color: #6c90ac;
}
#header .tried {
  margin-top: 0px;
}
.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

#end-panel {
  position: absolute;
  left:0px;
  animation-name: endAnimation;
  animation-duration: .6s;
  width: 100%;
  height: 15em;
  background-color: #be2244;
  z-index: 999;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  top: 200px;
}

.end-title{
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 4px;
  color: black;
}

#end-panel p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
  color: #758d9a;
}

@keyframes endAnimation {
  from {left: 500px;}
  to {left: 0px;}
}